.user_wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.user {
  color: white;
  background-color: blue;
  padding: 20px;
  /*display: flex;
  justify-content: center;*/
}

.user_msg {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
}

.user_msg:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
